.container-general-info {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2px;
    background-color: rgb(200, 200, 200);
    border: solid 1px;
    border-radius: 5px;
  }

.container-general-info > div {    
    text-align: center;
    margin: 2px;
  }

.container-general-info h3,h4{
    margin: 4px;
}

.item-title {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  
.item-icon {
    grid-row-start: 2;
    grid-row-end: 4;
  }