.battle{
    background-color: rgb(240, 240, 240);    
    border: solid 1px rgb(200, 200, 200);    
    border-radius: 5px;
    padding: 5px;
    min-width: 200px;
    margin: 2px;
}

.battle:hover{
    background-color: rgb(220, 220, 220);
}

.battle-title{
    background-color: rgba(0, 0, 0, 0.1);
    color: #3f51b5;
    border-bottom: solid 2px rgb(150, 150, 150);
    margin: 2px 2px 2px 2px;    
    border-radius: 5px 5px 0px 0px;
    padding: 2px;
    text-align: center;
}

.title{
    font-size: 120%;
}

.sub-title{
    font-size: 110%;
}

.battle-result{    
    
    margin: 2px 2px 2px 2px;
    border-radius: 0px 0px 5px 5px;
    padding: 2px;
}

.battle-stats{
    display: inline-block;
    border: solid 1px rgb(210, 210, 210);
    min-height: 94px;
    width: 50%;
    border-radius: 5px;
    padding: 3px;
}

.battle-podium{
    margin: 0px 3px;
    padding: 1px;
    width: 40%;
    min-height: 100px;
    float: left;
}

.podium-item {    
    border: solid 1px rgb(210, 210, 210);
    margin: 1px;
    border-radius: 5px;
    min-height: 30px;
    vertical-align: middle;
}
.podium-item img{
    width:24px;
    height:24px;
    float: left;
    margin: 1px;
    line-height: 35px;
}

.podium span{
    float: left;
}

.gold{
    background-color: rgba(255, 215, 0, 0.25);
}

.silver{
    background-color: rgba(192, 192, 192, 0.25);
}

.bronze{
    background-color: rgba(176, 141, 87, 0.25);
}