.battle{
    background-color: rgb(80, 80, 80);
    border: solid 1px rgb(115, 115, 115);
    color: rgb(250,250,250);
    border-radius: 8px;
    padding: 5px;
    min-width: 400px;
    margin: 1px;
}

.battle:hover{
    background-color: rgb(90, 90, 90);
}

.battle-title{
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: solid 3px rgb(150, 150, 150);
    margin: 2px 2px 2px 2px;    
    border-radius: 5px 5px 0px 0px;
}

.title{
    font-size: 120%;
}

.sub-title{
    font-size: 110%;
}

.battle-result{    
    border: solid 2px rgba(0, 0, 0, 0.1);
    border-top: none;
    margin: 2px 2px 2px 2px;
    border-radius: 0px 0px 5px 5px;
    padding: 2px;
}

.battle-stats{
    display: inline-block;
    border: solid 1px rgb(110, 110, 110);
    min-height: 94px;
    width: 56%;
    border-radius: 5px;
    padding: 3px;
}

.battle-podium{
    margin: 0px 3px;
    padding: 1px;
    width: 40%;
    min-height: 100px;
    float: left;
}

.podium-item {    
    border: solid 1px rgb(115, 115, 115);;
    margin: 1px;
    border-radius: 5px;
    min-height: 30px;
    vertical-align: middle;
}
.podium-item img{
    width:24px;
    height:24px;
    float: left;
    margin: 1px;
    line-height: 35px;
}

.podium span{
    float: left;
}

.gold{
    background-color: rgba(255, 215, 0, 0.15);
}

.silver{
    background-color: rgba(192, 192, 192, 0.15);
}

.bronze{
    background-color: rgba(176, 141, 87, 0.15);
}