.container-general-info {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    border-radius: 4px;    
    border-top: solid 1px rgba(200,200,200);
  }

.container-general-info > div {    
    padding: 3px 10px 3px 0px;
    border-bottom: solid 1px rgba(200,200,200);
}

.prop-name{
  color: rgb(120,120,120);
  
  font-size: 15px;
  font-weight: 500;
  text-align: right;  
}

.prop-value{
  font-family: "Fira Sans","Trebuchet MS",Ubuntu,Helvetica,Arial,sans-serif;
  color: black;
  font-size: 16px;  
  
}

.pokemon-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  
  .pokemon-type{
    float: left;
    border-radius: 3px;
    padding: 2px 5px;
    margin: 1px 1px;
    color: white;
    font-size: 14px; 
    background-color: rosybrown;
  }

  .pokemon-types{
    display: inline;
  }
  .normal{
    background-color: gray;
  }

  .fire{
    background-color: red;
  }

  .water{
    background-color: deepskyblue;  
  }

  .electric{
    background-color: gold;  
  }

  .grass{    
    background-color: green;  
  }

  .ice{    
    background-color: lightblue;  
  }

  .fighting{    
    background-color: brown;  
  }


  .poisson{    
    background-color: darkmagenta;  
  }

.ground{    
    background-color: sienna;  
  }
  
.flying{
    background-color: cornflowerblue;
}

.psychic{
    background-color: darkorchid;
}

.bug{
  background-color:olivedrab
}

.rock{
  background-color: peru;
}

.stat-bar{
    
    border-radius: 3px;
    padding: 2px 4px;
    margin: 2px 0px;
    color: white;
    font-size: 14px;     
    min-width: 250;
    height: 18px;
    display: block;
}

.stat-group{    
    margin: 3px 3px;
  font-size: 16px;  
}